:root{
    --fondito:linear-gradient(
        90deg,
        #3B89C7  25%,
        #048cae 73%);
    --celeste: #32adb3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;   
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--celeste);
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 50px;
}
