.detalle__main{
    background-image: url(/images/backgrounds/email-pattern.webp);

} 
.form-label , .form-control input-group-text{
    display: flex;
    justify-content: flex-start;
}
.input-group-text{
    display: flex;
    text-align: start;
}
.card{
    display: flex;
    flex-wrap: wrap;
    
}
.btn-dark{
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(47, 132, 212);
    --bs-btn-border-color: rgb(47, 132, 212);
    --bs-btn-hover-color: #fff;

}