<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <!--Barra de navegación-->
    <%- include('partials/header') %>

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-2" style="background-color: aliceblue;">
                <!--color de fondo-->
                <h1>Datos a rellenar</h1>
                <!--Formulario-->
                <form method="post" action="#" name="frm">
                    <!--inputs-->
                    <label for="Nombre">Nombre</label><br>
                    <input type="text" class="form-control" id="Nombre" placeholder="Pepito" autofocus name="Nombre"><br>
                    <label for="Apellido">Apellido</label><br>
                    <input type="text" class="form-control" id="Apellido" placeholder="García" name="Apellido"><br>
                    <label for="fNacimiento">Fecha de Nacimiento</label><br>
                    <input type="date" class="form-control" id="fNacimiento"><br>
                    <label for="Localidad">Localidad</label><br>
                    <input type="text" class="form-control" id="Localidad" placeholder="Trelles 2750" name="Localidad"><br>
                    <label for="DNI">DNI</label><br>
                    <input type="number" class="form-control" id="DNI" placeholder="46504044" name="DNI"><br>
                    <label for="nTelefono">Número de Teléfono</label><br>
                    <input type="number" class="form-control" id="nTelefono" placeholder="1136491474" name="nTelefono"><br>
                    <label for="Mail">Mail</label><br>
                    <input type="email" class="form-control" id="Mail" placeholder="example@gmail.com" name="Mail"><br>
                    <!--Botones-->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success col-lg-6" type="submit" name="btnGuardar">Guardar</button>
                        <button class="btn col-lg-6" style="background-color: azure;" type="reset">Limpiar</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 py-2" style="background-color: antiquewhite;">
                <h1>Listado Médico</h1>
                <!--Tablas-->
                <button class="col-md-12 my-2 btn borde" style="background-color: aliceblue;">Agenda Clínica</button>

                <div>
                    <label>Mostrar</label>
                    <input type="number" placeholder="4" class="col-lg-1">
                    <label>Turnos Disponibles</label>
                    <label>Buscar</label>
                    <input type="text" placeholder="Médicos" class="col-lg-2">
                </div>
                <h1>Fechas Próximas</h1>
                <!--Listado-->
                <table class="table table-striped">
                    <thead>
                        <!--Objetos de lista-->
                        <tr>
                            <th>#</th>
                            <th>Médicos</th>
                            <th>Piso</th>
                            <th>Sala</th>
                            <th>Fecha</th>
                            <th class="col-lg-1">Consultar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Pepito</td>
                            <td>1</td>
                            <td>A</td>
                            <td>13/2</td>
                            <td><button class="btn btn-dark" id="btn-abrir-modal">?</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Alfonso</td>
                            <td>2</td>
                            <td>A</td>
                            <td>16/2</td>
                            <td><button class="btn btn-dark" id="btn-abrir-modal">?</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Lucas</td>
                            <td>3</td>
                            <td>B</td>
                            <td>20/12</td>
                            <td><button class="btn btn-dark" id="btn-abrir-modal">?</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Veigar</td>
                            <td>2</td>
                            <td>D</td>
                            <td>11/06</td>
                            <td><button class="btn btn-dark" id="btn-abrir-modal">?</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Rudeus</td>
                            <td>2</td>
                            <td>C</td>
                            <td>11/04</td>
                            <td><button class="btn btn-dark" id="btn-abrir-modal">?</button></td>
                        </tr>
                    </tbody>
                </table>

                <dialog id="modal">
                    <h3>Información</h3>
                    <p>Médico encargado: aaaaaaaaaaaaaa</p>
                    <p>Especialidad: aaaaaaaaaa</p>
                    <textarea name="Descripcion" id="description" cols="30" rows="10" placeholder="Ingrese el mótivo de la reunión"></textarea><br>
                    <button class="btn btn-dark" id="btn-cerrar-modal">Cerrar</button>
                </dialog>

            </div>
        </div>
    </div>

    <!--CDN js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--js propio-->
    <script src="validaciones.js"></script>
    <script src="modal.js"></script>
  </body>
</html>
