    <footer class="footer" style="height: 180px;">
        <div class="footer--iconBox">
            <ul class="footer__iconBox--ul">
                <li style="--clr:#55acee">
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li style="--clr:#43d854">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li style="--clr:#55acee">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a> 
                </li>
                <li style="--clr:#ff0095">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer--access">
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Consultas Medicas</a></li>
                <li><a href="#">Consultorios Externos</a></li>
                <li><a href="#">Estudios Medicos</a></li>
                <li><a href="#">Turnos Online</a></li>
                <li><a href="/products/add">Mi Cuenta</a></li>

            </ul>
        </div>
        <div class="footer--date">
            <p>Copyright &copy; 2023 Se Price S.R.L<p>
            <p>Av Lezama, CABA</p>
        </div>


        <script src="/js/cart.js"></script>
        
    </footer>
